{{extend 'layout.html'}}

<h4>Crew Management Interface</h4>
<br><br>
<details>
<summary>Explanations on lab balance</summary>
<h6>The lab balance is the negative number of the Admin's (id = 1) balance in the following table.<br> 
The lab balance also equals to the sum of all lab members' balance. <br>
In short, a positive number means the lab owes all members that much, and a negative number means all our members owe the lab that much.</h6>
</details>
<h4>Lab Balance: {{=cost}}</h4>
<br><br>

<h4>User Table</h4>
<details>
<summary>Member balance</summary>
<h6>The balance column in the following table <b>should</b> add up to zero.</h6>
</details>
{{=grid}}

<br><br>
<a href="{{=URL('ledger', 'default', 'index')}}" class="btn btn-default">BACK</a>
<br><br>