{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h1>{{=message}}</h1>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
<br>
<h4>

<!-- 2018/02 table: ugly on mobo devices
<table>
<tbody>
<tr>
<td><h4>Admin Actions&nbsp;</h4></td>
<td><h4><a href="{{=URL('ledger','default','crew')}}">&nbsp;[Crew and lab balance]&nbsp;</a></h4></td>
<td><h4><a href="{{=URL('ledger','default','candidate')}}">&nbsp;[Schedule a dineout]&nbsp;</a></h4></td>
<td><h4><a href="{{=URL('ledger','default','payment')}}">&nbsp;[Manage a payment]&nbsp;</a></h4></td>
<td><h4><a href="{{=URL('ledger','default','refund')}}">&nbsp;[Issue a refund]&nbsp;</a></h4></td>
</tr>
<tr>
<td><h4>General Actions&nbsp;</h4></td>
<td><h4><a href="{{=URL('ledger','default','history')}}">&nbsp;[Dineout history]&nbsp;</a></h4></td>
<td><h4><a href="{{=URL('ledger','default','mypayment')}}">&nbsp;[My payment history]&nbsp;</a></h4></td>
</tr>
</tbody>
</table>
<br><br>
-->

<h4>Admin Actions</h4>
<h4><a href="{{=URL('ledger','default','crew')}}"> Crew and lab balance</a></h4>
<h4><a href="{{=URL('ledger','default','candidate')}}"> Schedule a dineout</a></h4>
<h4><a href="{{=URL('ledger','default','payment')}}"> Manage a payment</a></h4>
<h4><a href="{{=URL('ledger','default','refund')}}"> Issue a refund</a></h4>
<br><br>

<h4>General User Actions</h4>
<h4><a href="{{=URL('ledger','default','history')}}"> Dineout history</a></h4>
<h4><a href="{{=URL('ledger','default','mypayment')}}"> My payment/refund history</a></h4>
<br><br>

<h4>Balance Table</h4>
<details>
<summary>Explanations on your balance</summary>
<h6>In short, a positive number means the lab owes you that much, a negative number means you owe the lab that much.</h6>
</details>
<details>
<summary>How we calculate the share</summary>
<h6>假设一顿饭 100 刀 有 5 个人参与<br>
实验室出 60% 即 60 刀<br>
剩下40%  即 40 刀 这 5 个人每个出 8 刀   其中 4 个人balance为 -8 即他欠实验室8刀 <br>
付款人付 100 刀  这个人balance为 +92 即实验室欠他92刀 <br>
这时候实验室的balance为 -60  表明实验室欠大家 60 刀 （欠 92 刀给付款人 - 每个人欠实验室 8 刀 * 4 = 60）<br>
假设给付款人refund了 92 刀 付款人balance为 0 则实验室balance变为 -60+92=32 即大家欠实验室 32 刀</h6>
</details>
<br>
{{=crew}}
<br><br>


<h4>Images</h4>
<h4><a href="{{=URL('ledger','default','manage')}}"> Manage images</a></h4>
<ul>
{{for image in images:}}
{{=LI(A(image.title, _href=URL("show", args=image.id)))}}
{{pass}}
</ul>
<br><br>


{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
    <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
    </ul>
</div>
{{end}}
